:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --title-text-color: rgba(117, 117, 117, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --accent-text-color:rgba(255, 255, 255, 1);
    --plus-color:rgba(0, 0, 0, 1);
}

body{
    background-color: white;
    color:#212121;
    font-family:'Roboto',sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

ul{list-style: none;
padding: 0px;
margin: 0px;
}

h1,
h2,
h3,
ul,
p{
    margin: 0;
}

img{
    display: block;
    height: auto;
    max-width: 100%;
}
header{
    border: 1px solid #ECECEC;
}


.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}
.section{
    padding-top: 94px;
    padding-bottom: 94px;

}


.link{
   text-decoration: none;
   color: currentColor;
}

.header-container{
    display:flex; 
    align-items: center;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu{
    display: flex;
    padding-top: 32px ;
    padding-bottom: 32px;
    gap: 50px;
}

.logo{

    padding-top:24px ;
    padding-bottom: 25px;
    color:#2196F3;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration-line: none;

}
.logo-header{
  
    color:var(--plus-color)
}

.link.current{
    color: var(--accent-color);
}


.link{ 
    margin-left:50px ;
    color: var(--primary-text-color);
    text-decoration: none;
font-weight: 500;

}

.link:active{
    color: var(--accent-color);
}


.link:hover{
    color: var(--accent-color);
}
.link:focus{
    color:var(--accent-color);
}

.link-item{
    gap: 50px;
    padding: 32px;
    color:var(--title-text-color);
    text-decoration: none;
       
}
.link-item:hover{
    color:var(--accent-color);
}


.contacts{display: flex;

    margin-left: auto;
}
.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #2F303A;
    
}

.title-text{

    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: #FFFFFF;
line-height: 1.4;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn{
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
   margin-left: auto;
   margin-right: auto;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
   
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        color: #FFFFFF;
            background-color: rgba(33, 150, 243, 1);
   
}


.button{ border-radius: 4px;
    padding: 6px 32px;
    margin-bottom: 34px;
   
   
    color:var(--primary-text-color);
    background-color: #F5F4FA;
   cursor: pointer;
   font-family: inherit;
font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
text-align: center;
    letter-spacing: 0.03em;
border-style: none;


}
.button:hover{
    background-color: #2196F3;
    color:#FFFFFF;

}
.button:focus{
    background-color:#2196F3;
    color: var(--accent-text-color);
}




.lead{
   
    color: var(--title-text-color);
        line-height: 1.7; 
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.03em;
        
}
.subtitle{
   
    background-color: #F5F4FA;
}
 

.image{ display:flex;
    justify-content: center;
   gap: 30px;
background: #FFFFFF;
    border: 1px solid #EEEEEE;

    
}

.titele-item{
    display:flex;
    justify-content:first baseline;
    margin-bottom: 10px;
font-size: 14px;
    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

  .text {
   display: flex;
  justify-content: flex-start;
  width: 270px;
  line-height: 1.7;
  color: var(--title-text-color);
  
    
        }

.titele-text{
 justify-content:flex-start;
    margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
color: var(--primary-text-color);}

.titele-main{
    margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color:var(--primary-text-color);

}

.aside{
    padding-top: 24px;
        padding-bottom: 20px;
}
.tagline{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color:var(--title-text-color)

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.tit{
    display:flex;
    gap: 30px;
   

}

.titels {
    margin-bottom: 50px;
    color: var(--primary-text-color);
    line-height: 1.16;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
        
      
     
}


.teams{
    width: 270px;
        background-color:#FFFFFF;
padding-top: 30px;
padding-bottom: 30px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

}


.key{display: flex;
    justify-content:center;
    gap: 8px;

}

    
.box-images {
display: flex;
    flex-wrap: wrap;

}
.box-element{
    width: 370px;
    background-color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}
.box-element:nth-child(3n){
    margin-right: 0;
}
.box-element:nth-last-child(-n +3){
    margin-bottom: 0px;
}


.desc{
    padding-top: 20px;
    padding-left: 24px;
    padding-bottom: 20px;
   padding-right: 24px;
   border-bottom:1px solid #EEEEEE;
   border-left:1px solid #EEEEEE; 
   border-right:1px solid #EEEEEE ;
}

.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2F303A;
}
.logo-address{
    margin-bottom: 20px;
}
.address{
    font-style: normal;
}

.logo-footer {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.item-footer {
    text-decoration: none;
    margin-bottom: 9px;
    color: #FFFFFF;
    line-height: 1.7;

}

.link-footer {
    margin-bottom: ;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.7;}