body{
    background-color: #F5F5F5;
    color:#212121;
    font-family: roboto ;
}

ul{list-style: none;

}
.logo{
    color:#2196F3;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
    letter-spacing: 0.03em;

}
.logo-header{
    color:#000000;
}

.link{
    color: #212121;
    

}
.link:hover{
    color: #2196F3;
}
.title{
    color:#FFFFFF;
    background-color: #2F303A;
    
}

.button{
    font-family: inherit;
        cursor: pointer;
    color: #FFFFFF;
    background-color: #2196F3;}
    

.titels{
    color: #212121
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;
        letter-spacing: 0.03em;
}
.lead{
    color: #757575 ;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
.subtitle{
    background-color: #F5F4FA;
}
 
.footer{
    background-color:#2F303A;
   
     
}
.logo-footer{
    color:#FFFFFF ;
}
.item-footer{
    color: #FFFFFF;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
    letter-spacing: 0.03em;
}
.link-footer{
    color: rgba(255, 255, 255, 0.6);
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
}
