:root {
    --primary-text-color: rgba(33, 33, 33, 1);
    --title-text-color: rgba(117, 117, 117, 1);
    --accent-color: rgba(33, 150, 243, 1);
    --accent-text-color:rgba(255, 255, 255, 1);
    --plus-color:rgba(0, 0, 0, 1);
}

body{
    background-color: white;
    color:#212121;
    font-family:'Roboto',sans-serif;
    letter-spacing: 0.03em;
    font-size: 14px;
}

ul{list-style: none;

}

h1,
h2,
h3,
ul,
p{
    margin: 0;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

}
.section{
    padding-top: 94px;
    padding-bottom: 94px;

}
.link{
   text-decoration: none;
   color: currentColor;
}

.header-container{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
   
}
.nav{
    display: flex;
    align-items: center;
    
}


.logo{

    color:#2196F3;
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.1;
    letter-spacing: 0.03em;
    text-decoration-line: none;

}
.logo-header{
  
    color:var(--plus-color)
}

.link.current{
    color: var(--accent-color);
}


.link{ 
    margin-left:50px ;
    color: var(--primary-text-color);
    text-decoration: none;
font-weight: 500;

}

.link:active{
    color: var(--accent-color);
}


.link:hover{
    color: var(--accent-color);
}
.link:focus{
    color:var(--accent-color);
}

.link-item{
    gap: 50px;
    padding: 32px;
    color:var(--title-text-color);
    text-decoration: none;
       
}
.link-item:hover{
    color:var(--accent-color);
}

.title{
    margin-bottom: 30px;
    background-color: #2F303A;
    
}

.title-text{
margin-bottom: 30px;

    color: #FFFFFF;
line-height: 1.4;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.btn{
    display: flex;
    align-items: center;
    text-align: center;
   margin-left: auto;
   margin-right: auto;
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
   
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        color: #FFFFFF;
            background-color: rgba(33, 150, 243, 1);
   
}


.button{ border-radius: 4px;
    padding: 6px 32px;
    margin-bottom: 34px;
   
   
    color:var(--primary-text-color);
    background-color: #F5F4FA;
   cursor: pointer;
   font-family: inherit;
font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
text-align: center;
    letter-spacing: 0.03em;
border-style: none;


}
.button:hover{
    background-color: #2196F3;
    color:#FFFFFF;

}
.button:focus{
    background-color:#2196F3;
    color: var(--accent-text-color);
}

.text{
    width: 270px;
    line-height:1.7;
    color:var(--title-text-color);

}

.titels{
    margin-bottom: 50px;
    color:var(--primary-text-color);
        line-height:1.16;
        text-align: center;
            font-weight: 700;
            font-size: 36px;
            text-align: center;
            letter-spacing: 0.03em;     
}

.lead{
    margin-bottom: 30px;
    color: var(--title-text-color);
        line-height: 1.7; 
            font-size: 16px;
            text-align: center;
            letter-spacing: 0.03em;
        
}
.subtitle{
    margin-bottom: auto;
    background-color: #F5F4FA;
}
 
.footer{
    background-color:#2F303A;
     
}
.logo-footer{
    color:#FFFFFF;
}
.item-footer{
    
    color: #FFFFFF;
        line-height: 1.7;
   
}
.link-footer{
   
    color:rgba(255, 255, 255, 0.6);
        line-height: 1.7;
        
}
.image{ display:flex;
    justify-content: center;
   gap: 30px;
    max-width: 100%;
    height: auto;
margin-bottom: 20px;
background: #FFFFFF;
    border: 1px solid #EEEEEE;

    
}

.titele-item{
    margin-bottom: 10px;

    font-weight: 700;
    line-height: 1.4;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.titele-text{
    
    margin-bottom: 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
        letter-spacing: 0.03em;
color: var(--primary-text-color);}

.titele-main{
    margin-bottom: 4px;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color:var(--primary-text-color);

}

.aside{
    padding-top: 24px;
        padding-bottom: 20px;
}
.tagline{
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color:var(--title-text-color)

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.tit{
    display: flex;
   justify-content:flex-start;
   gap: 30px;
}
.team{
    display: flex;
        justify-content: space-between;
        gap: 30px;
        
       
}
.key{display: flex;
    justify-content:center;
    gap: 8px;

}
.box-images{
    display: flex;
    flex-wrap: wrap;
   
}